@model LoginViewModel
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kullanıcı Girişi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/adminlte/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/css/adminlte/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/adminlte/adminlte.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body class="hold-transition login-page">

    <div class="login-box">
        <div class="login-logo">
            <a asp-controller="Home" asp-action="Index"><b>MVCCore</b>Estore</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Oturum açmak için giriş yapınız</p>

                @if (!ViewContext.ModelState.IsValid)
                {
                    <div class="alert alert-danger" role="alert">
                        <i class="fas fa-exclamation-triangle"></i>
                        @Html.ValidationSummary()
                    </div>
                }

                <form asp-controller="Account" asp-action="Login" method="post" novalidate>
                    <input type="hidden" asp-for="ReturnUrl" />
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" asp-for="UserName">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Parola" asp-for="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <label asp-for="RememberMe"></label>
                                <input type="checkbox" id="remember" asp-for="RememberMe">
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Giriş</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mb-1">
                    <a href="forgot-password.html">Parolamı Yenile</a>
                </p>
                <p class="mb-0">
                    <a href="register.html" class="text-center">Yeni Üyelik</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/css/adminlte/adminlte.min.js"></script>
</body>
</html>