@{ 
    ViewData["Title"] = "Ödeme Başarılı";
}
<div class="card">
    <div class="card-body">
        <div class="p-5 text-center">
            <div>
                <i class="fa fa-smile fa-5x text-secondary"></i>
            </div>
            <p>Teşekkürler,ödeme işleminiz başarıyla tamamlanmıştır.</p>
        </div>
    </div>
</div>