@{
    ViewData["Title"] = "Parola Yenileme";
}
<div class="card">
    <div class="card-body">
        <h2>Teşekkürler</h2>
        <p>
            Belirttiğiniz e-posta adresinize bir mail.............
        </p>
    </div>
</div>