@model NewPasswordViewModel
@{
    ViewData["Title"] = "Parola Yenileme";
}
<div class="card">
    <div class="card-body">

        @if (!ViewContext.ModelState.IsValid)
        {
            <div class="alert alert-danger" role="alert">
                <i class="fas fa-exclamation-triangle"></i>
                @Html.ValidationSummary()
            </div>
        }

        <form asp-action="ResetPassword" method="post">
            <div class="form-row">
                <div class="col-12 col-md-6">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 col-md-6">
                    <label asp-for="PasswordVerify"></label>
                    <input asp-for="PasswordVerify" class="form-control" />
                    <span asp-validation-for="PasswordVerify"></span>
                </div>
            </div>
            <p>
                Yeni parolanızı yazınız...
            </p>
            <button type="submit" class="btn btn-primary">Gönder</button>
            @Html.HiddenFor(p => p.Token)
            @Html.HiddenFor(p => p.Id)
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}