@{
    ViewData["Title"] = "Hata";
}
<div class="card">
    <div class="card-body">
        <div class="p-5 text-center h-4">
            <div>
                <i class="fa fa-sad-tear fa-5x text-secondary"></i>
            </div>
            <p>Beklenmedik hata. Lütfen daha sonra tekrar deneyiniz.</p>
        </div>
    </div>
</div>